.com_footer {
    padding: 70px 0;
    // border-top: 1px solid var(--main-border);
    background: #ffffff;
    .f_in {
        max-width: 1350px;
        width: 92%;
        margin: 0 auto;
        .f_sitename {
            margin: 0 0 50px;
            text-align: center;
            a {
                color: var(--logo-color);
                font-size: 30px;
            }
        }
        .link_box {
            .main_links,
            .sub_links {
                display: flex;
                justify-content: center;
                a {
                    color: var(--txt-color);
                    @media only screen and (min-width: 1025px) {
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
            .main_links {
                margin: 0 0 20px;
                gap: 20px;
                .main_link {
                    a {
                        font-weight: 600;
                    }
                }
            }
            .sub_links {
                gap: 15px;
                .sub_link {
                    a {
                    }
                }
            }
        }
    }
}
