html {
}
body {
    margin: 0;
    position: relative;
    font-family: "Noto Sans JP", sans-serif;
    transition: 0.6s;
    background: #ffffff;
}
.body_open {
    opacity: 1 !important;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    transition: 0.6s;
    text-decoration: none;
}
img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto !important;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    font-feature-settings: "palt" 1;
    line-height: 1.5;
}
div,
p,
span,
a,
main,
input,
textarea,
ul,
li,
h1,
h2,
h3,
h4,
h5,
nav {
    box-sizing: border-box;
}
main {
    padding: 130px 0;
}
.txt {
    line-height: 180%;
    letter-spacing: 0.06em;
    font-size: 1.25rem;
}
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    &::-webkit-search-decoration {
        display: none;
    }
    &::focus {
        outline-offset: -2px;
    }
}
// レスポンシブnone
@media only screen and (max-width: 1366px) {
    .pc2 {
        display: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }
}
@media only screen and (max-width: 667px) {
    .pc_tab {
        display: none !important;
    }
}
@media only screen and (min-width: 1025px) {
    .tab {
        display: none !important;
    }
}
@media only screen and (min-width: 668px) {
    .sp {
        display: none !important;
    }
}
/*****************************************
   h2.com_h2
   ****************************************/
h2.com_h2 {
}
/*****************************************
   h3.com_h3
   ****************************************/
h3.com_h3 {
}
/*****************************************
   .bt
   ****************************************/
.bt {
}

.input_box{
    margin: 0 0 30px;
}

.loader_wrap{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}