@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
body {
    --main-color: #db8c6c;
    --main-color-hover: #bf785c;
    --main-color2-hover: #fff9f6;
    --main-background: #faf9f8;
    --main-border: #e6e6e6;
    --txt-color: #5a3c37;
    --logo-color: #965d57;
    --main-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0;
    position: relative;
    font-family: "Noto Sans JP", sans-serif;
    transition: 0.6s;
    background: #ffffff;
    color: var(--txt-color);
    padding: 60px 0 0;
    background: var(--main-background);
}
.body_open {
    opacity: 1 !important;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    transition: 0.6s;
    text-decoration: none;
}
img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto !important;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    font-feature-settings: "palt" 1;
    line-height: 1.5;
}
div,
p,
span,
a,
main,
input,
textarea,
ul,
li,
h1,
h2,
h3,
h4,
h5,
nav,
body,
header,
section {
    box-sizing: border-box;
}
.txt {
    line-height: 180%;
    letter-spacing: 0.06em;
    font-size: 15px;
}
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    &::-webkit-search-decoration {
        display: none;
    }
    &::focus {
        outline-offset: -2px;
    }
}
button {
    padding: 0;
    border: none;
    background: none;
    margin: 0;
}
// レスポンシブnone
@media only screen and (max-width: 1366px) {
    .pc2 {
        display: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }
}
@media only screen and (max-width: 667px) {
    .pc_tab {
        display: none !important;
    }
}
@media only screen and (min-width: 1025px) {
    .tab {
        display: none !important;
    }
}
@media only screen and (min-width: 668px) {
    .sp {
        display: none !important;
    }
}
.logo {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
}
section {
    margin: 0 0 70px;
}
/*****************************************
   com_main
****************************************/
.com_main{
    padding: 100px 0 150px;
    max-width: 1350px;
    width: 92%;
    margin: 0 auto;
}
/*****************************************
   h1
****************************************/
h1 {
    font-size: 25px;
}
.under_h1{
    font-size: 40px;
    @media only screen and (max-width: 600px) {
        font-size: 30px;
    }
}
/*****************************************
   h2
****************************************/
h2 {
    font-size: 20px;
    font-weight: normal;
}
/*****************************************
   h2.com
****************************************/
.com_h2 {
    font-weight: 600;
    margin: 0 0 50px;
}
/*****************************************
   h3.com_h3
****************************************/
.com_h3{
    margin: 0 0 30px;
    font-weight: 500;
}
h3 {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 500;
}
/*****************************************
   .bt
****************************************/
.bt {
    max-width: 300px;
    transition: 0.2s;
    border-radius: 5px;
    .bt_link {
        display: block;
        font-size: 16px;
        padding: 10px 35px;
        border: 1px solid rgba(0, 0, 0, 0);
        letter-spacing: 0.07em;
        font-weight: 500;
        text-align: center;
        color: var(--txt-color);
    }
}
.bt_wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.input_box {
    margin: 0 0 30px;
}

.loader_wrap {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
