.h_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13;
    display: flex;
    .h_member,
    .h_menu_button {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 60px;
        width: 60px;
        position: relative;
        span {
            text-align: center;
            display: block;
            color: #ffffff;
            font-size: 12px;
            width: 100%;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 5px;
        }
        svg {
            color: #ffffff;
            height: 25px;
            width: 25px;
            margin: 0 0 20px;
        }
    }
    .h_member {
        background: var(--main-color);
    }
    .h_menu_button {
        background: var(--txt-color);
        svg {
            height: 24px;
            width: 24px;
        }
    }
}
.header_menu {
    position: relative;
    z-index: 12;
    transition: 0.6s;
    transform: translateX(100%);
    height: 100%;
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--txt-color);
    padding: 0 0 50px;
    .header_menu_in {
        overflow: scroll;
        height: 100%;
        padding: 90px 50px 50px;
        @media only screen and (max-width: 667px) {
            padding: 90px 4vw 50px;
        }
    }
    .h_menu_search {
        margin: 0 0 50px;
        .h_menu_search_in {
            max-width: 100%;
            border-bottom: 1px solid var(--main-color2-hover);
            input {
                color: var(--main-color2-hover);
                &::placeholder {
                    color: var(--main-color2-hover);
                }
            }
            .h_menu_search_submit {
                cursor: auto;
                svg {
                    color: var(--main-color2-hover);
                }
            }
        }
    }
    .h_menu_links {
        margin: 0 0 50px;
        .h_menu_links_tl {
            font-weight: 500;
            font-size: 18px;
            color: var(--main-color2-hover);
            margin: 0 0 40px;
            padding: 0 0 20px;
            border-bottom: 1px solid var(--main-color2-hover);
        }
        .h_menu_link {
            label {
                input[type="checkbox"] {
                    position: relative;
                    top: rem(-6);
                    margin: 0 1rem 0 0;
                    cursor: pointer;
                    &:before {
                        transition: 0.3s;
                        content: "";
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        box-sizing: border-box;
                        width: 20px;
                        height: 20px;
                        border: 3px solid #f2f2f2;
                    }
                    &:checked {
                        &:before {
                            transform: rotate(-45deg);
                            height: 0.5rem;
                            border-color: var(--main-color);
                            border-top-style: none;
                            border-right-style: none;
                            left: 1px;
                            top: 3px;
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background: var(--main-color2-hover);
                        cursor: pointer;
                    }
                }
                span {
                    color: var(--main-color2-hover);
                    font-size: 15px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: -4px;
                        left: 0;
                        background: var(--main-color2-hover);
                        transition: 0.6s;
                    }
                    @media only screen and (min-width: 1025px) {
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &:nth-child(n + 2) {
                margin: 15px 0 0;
            }
            .h_menu_area_box {
                position: relative;
                .area_txt {
                    cursor: pointer;
                    background: var(--main-background);
                    height: 50px;
                    font-size: 16px;
                    line-height: 30px;
                    padding: 10px;
                    letter-spacing: 0.08em;
                    font-weight: 500;
                    position: relative;
                    .h_menu_area_arrow{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                }
                .h_menu_areas {
                    transition: 0.3s;
                    opacity: 0;
                    pointer-events: none;
                    height: 300px;
                    width: 100%;
                    overflow: scroll;
                    position: absolute;
                    left: 0;
                    top: 50px;
                    z-index: 12;
                    background: var(--main-background);
                    .h_menu_area {
                        position: relative;
                        input {
                            display: none;
                            &:checked ~ label{
                                background: var(--main-color);
                                color: #ffffff;
                            }
                        }
                        label {
                            color: var(--txt-color);
                            font-weight: 500;
                            font-size: 16px;
                            padding: 10px 20px;
                            display: block;
                        }
                    }
                }
                .h_menu_areason{
                    opacity: 1!important;
                    pointer-events: auto!important;
                }
                .h_menu_areas_close {
                    position: fixed;
                    height: 100vh;
                    width: 100vw;
                    right: 0;
                    top: 0;
                    z-index: 11;
                }
            }
        }
    }
    .h_menu_submit_wrap {
        padding: 60px 0 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 30px;
        width: 92%;
        background: linear-gradient(180deg, transparent 0 10%, var(--txt-color) 50%);
        .h_menu_submit {
            width: 70%;
            background: var(--main-background);
            max-width: 100%;
            span {
                font-weight: 600;
                color: var(--txt-color);
            }
        }
        .h_menu_reset {
            width: 30%;
            font-weight: 600;
            color: var(--main-background);
        }
    }
}
.header_menu_active {
    transform: translateX(0);
}
.h_menu_button_active {
    background: var(--main-color2-hover) !important;
    span {
        color: var(--txt-color) !important;
    }
    svg {
        color: var(--txt-color) !important;
    }
}
.menu_bg_close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    pointer-events: none;
}
.menu_bg_close_active {
    opacity: 1 !important;
    pointer-events: auto;
}
