/*****************************************
共通
****************************************/
.email_bt {
    border: 3px solid var(--main-color);
    background: #ffffff;
    box-sizing: border-box;
    @media only screen and (min-width: 1025px) {
        &:hover {
            background: var(--main-color2-hover);
        }
    }
    a,
    button {
        color: var(--main-color);
        cursor: pointer;
        font-weight: 600;
    }
}
.dialog_bt {
    margin: 30px auto 0;
}
.icon_txt {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
        display: flex;
        align-items: center;
    }
    .txt {
        font-size: 14px;
    }
}
.job_detail_h2 {
    padding: 30px 0;
    border-top: 1px solid var(--main-border);
    border-bottom: 1px solid var(--main-border);
}
/*****************************************
Job
****************************************/
.job_wrap {
    padding: 0 15px 15px;
    .job_detail {
        display: flex;
        align-items: flex-start;
        padding: 50px 0 100px;
        max-width: 1360px;
        margin: 0 auto;
        .job_detail_main {
            width: 80%;
            max-width: calc(100% - 300px);
            .job_detail_panel {
                background: #ffffff;
                padding: 40px 4%;
                box-shadow: var(--main-shadow);
                margin: 0 0 50px;
                /*****************************************
                応募用固定ボタン
                ****************************************/
                section.job_detail_bt {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 20px;
                    background: rgba(0, 0, 0, 0.3);
                    margin: 0;
                    .jobs_bt_wrap {
                        .url_bt {
                            background: var(--main-color);
                            border: 3px solid var(--main-color);
                            @media only screen and (min-width: 1025px) {
                                &:hover {
                                    background: var(--main-color-hover);
                                }
                            }
                            a {
                                color: #ffffff;
                            }
                        }
                    }
                    .jobs_bt_limit_txt {
                        background: var(--main-color);
                        padding: 10px;
                        font-weight: 500;
                        color: #ffffff;
                        text-align: center;
                        max-width: 500px;
                        margin: 0 auto;
                    }
                }
                /*****************************************
                タイトル
                ****************************************/
                .job_detail_tl {
                    border-bottom: 1px solid var(--main-border);
                    padding: 0 0 50px;
                    margin: 0 0 70px;
                    .date_tags {
                        justify-content: flex-end;
                        margin: 0 0 20px;
                        color: #8f8f8f;
                    }
                    h1.job_detail_tl_h1 {
                        margin: 0 0 30px;
                        font-size: 26px;
                        line-height: 180%;
                    }
                    .tl_company {
                        margin: 0 0 20px;
                        .txt {
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                    .job_detail_summary {
                        display: flex;
                        gap: 20px;
                    }
                }
                /*****************************************
                本文
                ****************************************/
                .job_detail_centent {
                }
                /*****************************************
                募集情報
                ****************************************/
                .job_detail_info {
                    .job_detail_info_ul {
                        display: flex;
                        gap: 30px;
                        flex-wrap: wrap;
                        .job_detail_info_ul_li {
                            width: calc(50% - 15px);
                            .job_detail_h3 {
                                padding: 10px 0;
                                border-top: 1px solid var(--main-border);
                                border-bottom: 1px solid var(--main-border);
                            }
                        }
                    }
                }
                /*****************************************
                会社名
                ****************************************/
                .job_detail_company {
                    margin: 0;
                    .icon_txt {
                        margin: 0 0 30px;
                        .icon {
                        }
                        .txt {
                            font-weight: 500;
                            font-size: 24px;
                        }
                    }
                    .job_detail_company_adress_box {
                        margin: 0 0 30px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        .job_detail_company_adress_code {
                            font-size: 16px;
                        }
                        .job_detail_company_adress {
                            font-size: 18px;
                        }
                    }
                    .hpurl_bt {
                        border: 3px solid var(--main-color);
                        background: #ffffff;
                        box-sizing: border-box;
                        @media only screen and (min-width: 1025px) {
                            &:hover {
                                background: var(--main-color2-hover);
                            }
                        }
                        a {
                            color: var(--main-color);
                            cursor: pointer;
                            font-weight: 600;
                        }
                    }
                }
            }
            section.job_report {
                background: #ffffff;
                padding: 40px 4%;
                box-shadow: var(--main-shadow);
                .report_button {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    span {
                        color: var(--txt-color);
                        font-size: 16px;
                    }
                }
            }
        }

        .job_detail_slider {
            max-width: 300px;
            width: 20%;
        }
    }
}
