.mypage_continar {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--main-border);
    padding: 10px 0 0;
    @media only screen and (max-width: 667px) {
        display: block;
        padding: 10px 0 80px;
    }
    nav {
        width: 250px;
        border-right: 1px solid var(--main-border);
        margin: 0 0 10px;
        @media only screen and (max-width: 667px) {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            margin: 0;
            border: none;
            z-index: 99;
        }
        ul {
            @media only screen and (max-width: 667px) {
                display: flex;
                align-items: center;
                padding: 0;
            }
            li {
                position: relative;
                @media only screen and (max-width: 667px) {
                    background: #ffffff;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    span {
                        font-size: 11px;
                    }
                }
                &::after {
                    width: 80%;
                    height: 1px;
                    background: var(--main-border);
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: -1px;
                }
                &:last-child {
                    border: none;
                    &::after {
                        display: none;
                    }
                }
                a {
                    @media only screen and (max-width: 667px) {
                        color: var(--main-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    main {
        width: calc(100% - 250px);
        min-width: 450px;
        min-height: calc(100vh - 90px);
        @media only screen and (max-width: 667px) {
            min-width: auto;
            width: 100%;
        }
        .main_in {
            height: 100%;
            padding: 50px 20px 150px 100px;
            max-width: 1150px;
            @media only screen and (max-width: 667px) {
                padding: 0 4% 20px;
            }
        }
    }
}
.setpage_wrap {
    padding: 100px 0;
}
