.privacy_main {
    .privacy_sec {
        margin: 0;
        &:nth-child(n + 2) {
            padding: 80px 0 0;
        }
    }
    .privacy_sec {
        .privacy_h2{
            margin: 0 0 50px;
        }
        ul {
            padding: 30px 0 0;
            li {
                font-weight: 500;
                position: relative;
                padding: 0 0 0 10px;
                &:nth-child(n + 2) {
                    margin: 10px 0 0;
                }
                &::after {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    content: "";
                    background: var(--txt-color);
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                }
            }
        }
        .privacy_ul_2n{
            margin: 0 0 30px;
        }
    }
}
